<div *ngIf="!!item && !!form">
  <div class="separator">
    <mat-divider></mat-divider>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="availableFrom" formControlName="availableFrom" timeInput/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="availableUntil" formControlName="availableUntil" timeInput/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-select formControlName="consultantGroupUser">
          <mat-option *ngFor="let consultantGroupUser of consultantGroupUsers" [value]="consultantGroupUser.id">
            {{consultantGroupUser.user.firstName}} {{consultantGroupUser.consultantGroup.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="degree" formControlName="degree"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="education" formControlName="education"/>
      </mat-form-field>
    </div>
    <div>
      <button class="full-width" mat-button (click)="fileInput.click()">
        <mat-icon>library_add</mat-icon>
        <span>Select file</span>
        <img [src]="url" class="preview" alt="" />
        <input #fileInput
               type="file"
               name="file"
               (change)="onFileInput($event)"
               style="display:none;" />
      </button>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="licenseNumber" formControlName="licenseNumber"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="licenseUntil" formControlName="licenseUntil" dateInput/>
      </mat-form-field>
    </div>
    <mat-card-actions>
      <button type="submit" mat-button (click)="submit()">
        Save
      </button>
    </mat-card-actions>
  </form>
</div>
