<form class="example-form" [formGroup]="loginForm">
  <mat-card>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="email" value="" formControlName="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="firstName" formControlName="firstName" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="lastName" value="" formControlName="lastName" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Role" formControlName="roles">
          <mat-option *ngFor="let role of userRolesList" [value]="role.roleName" >
            {{ role.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="username" formControlName="username" />
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-button (click)="submit()">
        Login
      </button>
    </div>
  </mat-card>    
    <!-- email?: string;
    firstName?: string;
    id?: number;
    lastName?: string;
    password?: string;
    roles?: Array<Role>;
    username?: string; -->
</form>